<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>ログイン画面</title>
    </head>
    <body>
        <form action="/login/done" method="POST">
            <p>
                e-mail：<input type="text" name="email" size="100">
            </p>
            <p>
                パスワード：<input type="text" name="password" size="255">
            </p>
            <p>
                <input type="submit" value="送信" id="submit">
            </p>
        </form>
    </body>
</html>
